
.d-flex{
 display: flex;
 align-items: center;
 justify-content: center;
}
.img-container{
    height: 450px;
    width: 450px;
    margin: auto;
    border-radius: 5%;
}
.gap-3{
    gap: 3rem
}


h1{
    margin: 0;
    
}

li{
    list-style-type: none;
    text-align: center ;
}
.font-bold{
    font-weight: bold;
}
ul{
    padding: 0%;
}
p{
text-align: center;
}




